# Build output
dist/

# Development files
.vscode/
.vscode-test/
node_modules/
src/
test/

# Config files
esbuild.js
tsconfig.json
.eslintrc.json
.eslintignore
*.config.*

# Other
assets/
.gitignore
.github/
*.vsix
*.log
*.tsbuildinfo
*.map
example.md
