name: Publish Extension
permissions:
  contents: read

on:
  push:
    tags:
      - 'v*'  # Triggers on version tags like v1.2.3

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Install vsce and ovsx
        run: npm install -g @vscode/vsce ovsx

      - name: Package extension
        run: vsce package

      - name: Publish to VS Code Marketplace
        run: vsce publish --packagePath *.vsix --pat ${{ secrets.VSCE_TOKEN }}

      - name: Publish to Open VSX
        run: ovsx publish --packagePath *.vsix --pat ${{ secrets.OVSX_TOKEN }}
